{% extends "layout.html" %}

{% block title %}
    Inicio
{% endblock %}

{% block main %}
    <h2> <img src="/static/nucleos_lasgabias.jpg" alt="Las Gabias" style="width: 40px; height: 40px; margin-left:8px;"> Las Gabias</h2>

    <!-- Hero Section: Para que la foto esté atrás -->
    <section id="hero-inicio" class="hero-section">
        <div id="hero-inicio-texto" class="hero-text text-white">
            <h1>Bienvenidos a nuestro pueblo</h1>
            <p>Descubre las últimas noticias, los eventos más relevantes y las principales propuestas de los ciudadanos de nuestro municipio.</p>
        </div>
    </section>

{%endblock %}
